<section>
  <div>
    Count:&nbsp;{{ count() }}
    @if (count() === 1) {
      <span>topic</span>
    } @else {
      <span>topics</span>
    }
  </div>
  <form
    (submit)="
      addTopic($event, titleInput.value, descInput.value);
      titleInput.value = '';
      descInput.value = ''
    "
  >
    <input #titleInput placeholder="Title" required />
    <input #descInput placeholder="Description" />
    <button type="submit">Add</button>
  </form>
  <table>
    <thead>
      <tr appHighlight="grey">
        <th>Id</th>
        <th>Topic</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      @for (topic of topics(); track topic.id) {
        <tr appHighlight>
          <td>
            {{ topic.id }}
          </td>
          @if (topicToEdit() === topic.id) {
            <td>
              <input
                [ngModel]="editingTitle()"
                (ngModelChange)="editingTitle.set($event)"
                placeholder="Title"
                required
              />
            </td>
            <td>
              <input
                [ngModel]="editingDescription()"
                (ngModelChange)="editingDescription.set($event)"
                placeholder="Description"
              />
            </td>
          } @else {
            <td>{{ topic.title | titlecase }}</td>
            <td>{{ topic.description | truncate: 30 }}</td>
          }
          <td>
            @if (topicToEdit() === topic.id) {
              <button (click)="saveTopic(topic.id, editingTitle(), editingDescription())">
                Save
              </button>
              <button (click)="cancelEdit()">Cancel</button>
            } @else {
              <button (click)="editTopic(topic)">Edit</button>
            }
          </td>
          <td>
            <button (click)="removeTopic(topic.id)">X</button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td>no topics yet</td>
        </tr>
      }
    </tbody>
  </table>
</section>
