<section>
  <div>
    Count:&nbsp;{{ count() }}
    @if (count() === 1) {
      <span>topic</span>
    } @else {
      <span>topics</span>
    }
  </div>
  <form
    (submit)="
      addTopic($event, titleInput.value, descInput.value);
      titleInput.value = '';
      descInput.value = ''
    "
  >
    <input #titleInput placeholder="Title" required />
    <input #descInput placeholder="Description" />
    <button type="submit">Add</button>
  </form>
  <table>
    <thead>
      <tr appHighlight="grey">
        <th>Id</th>
        <th>Topic</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @for (topic of topics(); track topic.id) {
        <tr appHighlight>
          <td>
            {{ topic.id }}
          </td>
          <td>
            {{ topic.title | titlecase }}
          </td>
          <td>
            {{ topic.description | truncate: 30 }}
          </td>
        </tr>
      } @empty {
        <tr>
          <td>no topics yet</td>
        </tr>
      }
    </tbody>
  </table>
</section>
