<div>
  <button type="button" (click)="setFilter('all')" [disabled]="filter() === 'all'">
    All&nbsp;{{ count() }}
  </button>
  <button type="button" (click)="setFilter('not-seen')" [disabled]="filter() === 'not-seen'">
    Not Seen&nbsp;{{ notSeenCount() }}
  </button>
  <button type="button" (click)="setFilter('learning')" [disabled]="filter() === 'learning'">
    Learning&nbsp;{{ learningCount() }}
  </button>
  <button type="button" (click)="setFilter('known')" [disabled]="filter() === 'known'">
    Known&nbsp;{{ knownCount() }}
  </button>
</div>
<form
  (submit)="
    addCard($event, topicsSelect.value, frontInput.value, backInput.value);
    frontInput.value = '';
    backInput.value = ''
  "
>
  <div>
    <h2>Add New Card</h2>
  </div>
  <br />
  <select #topicsSelect required>
    @for (topic of topics(); track topic.id) {
      <option [value]="topic.id">{{ topic.title }}</option>
    } @empty {
      <option value="" disabled>No topic found</option>
    }
  </select>
  <input #frontInput placeholder="Front" required />
  <input #backInput placeholder="Back" required />
  <button [disabled]="!topics().length" type="submit">Add card</button>
</form>
<section>
  @for (flashcard of filteredCards(); track flashcard.id) {
    <ul>
      @if (cardToEdit() === flashcard.id) {
        <li><input [ngModel]="editingFront()" (ngModelChange)="editingFront.set($event)" /></li>
        <li><input [ngModel]="editingBack()" (ngModelChange)="editingBack.set($event)" /></li>
      } @else {
        <li>{{ flashcard.front }}</li>
        <li>{{ flashcard.back | truncate: 30 }}</li>
      }

      <li>
        <button (click)="cycleStatus(flashcard.id)">{{ flashcard.status }}</button>
        <button (click)="removeCard(flashcard.id)">X</button>
      </li>
      <li>
        @if (cardToEdit() === flashcard.id) {
          <button (click)="saveCard(flashcard)">Save</button>
          <button (click)="cancelEdit()">Cancel</button>
        } @else {
          <button (click)="editCard(flashcard)">Edit</button>
        }
      </li>
    </ul>
  } @empty {
    <ul>
      <li>No card found</li>
    </ul>
  }
</section>
